<!DOCTYPE html>
<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/adminpanel/assets"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>KURUMSAL</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="/adminpanel/assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/adminpanel/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/adminpanel/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/adminpanel/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/adminpanel/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/adminpanel/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/adminpanel/assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="/adminpanel/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/adminpanel/assets/js/config.js"></script>
  </head>
  <body class="bg-dark">
    <!-- Content -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-text">Admin Panel</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Giriş Yap</h4>
              <p class="mb-4">Giriş yapmak için kullanıcı adı ve şifrenizi girin</p>

              <form id="formAuthentication" class="mb-3" method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Kullanıcı adı</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Kullanıcı adınızı girin"
                    autofocus
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Şifre</label>
                    <a href="http://localhost:3000/api/kurumsal/auth/forgot-password">
                      <small>Şifremi unuttum</small>
                    </a>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Giriş Yap</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>
    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/adminpanel/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/adminpanel/assets/vendor/libs/popper/popper.js"></script>
    <script src="/adminpanel/assets/vendor/js/bootstrap.js"></script>
    <script src="/adminpanel/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/adminpanel/assets/vendor/js/menu.js"></script>
    <script src="/adminpanel/assets/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
        function serializeConvertToJson(element) {
            var config = {};
            jQuery(element).serializeArray().map(function(item) {
                if ( config[item.name] ) {
                    if ( typeof(config[item.name]) === "string" ) {
                        config[item.name] = [config[item.name]];
                    }
                    config[item.name].push(item.value);
                } else {
                    config[item.name] = item.value;
                }
            });
            return config;
        }

        $("#formAuthentication").on("submit",(e) => {
            e.preventDefault();
            let data = serializeConvertToJson($("#formAuthentication"));
            $.ajax({
                url : "http://localhost:3000/api/kurumsal/auth/login",
                type : "POST",
                contentType: "application/json",
                data : JSON.stringify(data),
                success : (response) => {
                    console.log(response)
                    let timerInterval
                    Swal.fire({
                        title: 'Giriş başarılı',
                        html: '<b></b> salise içinde panele yönlendirileceksiniz',
                        timer: 1000,
                        icon : 'success',
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                        }).then((result) => {
                          if (result.dismiss === Swal.DismissReason.timer) {
                            if (response.user.role === 'admin') {
                              window.location.href = "http://localhost:3000/api/kurumsal/admin/dashboard";
                            }else {
                              window.location.href = "http://localhost:3000/api/kurumsal/services";
                            }
                          }
                        });
                },
                error : (xhr, status, error) => {
                    Swal.fire({
                        icon: "error",
                        text: xhr.responseJSON.msg
                    });
                }
            });
        });
    </script>
  </body>
</html>
