<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/adminpanel/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>KURUMSAL - ADMİN PANEL</title>

    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/adminpanel/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/adminpanel/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/adminpanel/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/adminpanel/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/adminpanel/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/adminpanel/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/adminpanel/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/adminpanel/assets/vendor/js/helpers.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.min.css" type="text/css" />

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/adminpanel/assets/js/config.js"></script>

    <style>
      .swal2-container {
        z-index: 20000 !important;
      }
    </style>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme bg-dark">
            <div class="app-brand demo bg-dark mt-0">
                <a href="#" class="app-brand-link">
                  <span class="app-brand-text demo menu-text fw-bolder ms-2"><img src="https://btmteknoloji.com/assets/img/business-2/logo.png" style="background-color: #233446;" alt=""></span>
                </a>
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                  <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1 bg-dark">
            <!-- Dashboard -->
            <% if(authenticateUser.role === 'admin') { %>
              <li class="menu-item dashboard">
                <a href="http://localhost:3000/api/kurumsal/admin/dashboard" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">Gösterge Paneli</div>
                </a>
              </li>
              <li class="menu-item users">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-user"></i>
                  <div data-i18n="Layouts">Kullanıcı yönetimi</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="http://localhost:3000/api/kurumsal/users/createUser" class="menu-link">
                      <div data-i18n="Blank">Kullanıcı ekle</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="http://localhost:3000/api/kurumsal/users" class="menu-link">
                      <div data-i18n="Blank">Kullanıcı listesi</div>
                    </a>
                  </li>
                </ul>
              </li>
            <% } %>
            <li class="menu-item services">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-list-plus"></i>
                <div data-i18n="Layouts">Hizmet yönetimi</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="http://localhost:3000/api/kurumsal/services/createService" class="menu-link">
                    <div data-i18n="Blank">Hizmet ekle</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="http://localhost:3000/api/kurumsal/services" class="menu-link">
                    <div data-i18n="Blank">Hizmet listesi</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item franchises">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-sitemap"></i>
                <div data-i18n="Layouts">Bayi yönetimi</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="http://localhost:3000/api/kurumsal/franchises/createFranchise" class="menu-link">
                    <div data-i18n="Blank">Bayi ekle</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="http://localhost:3000/api/kurumsal/franchises" class="menu-link">
                    <div data-i18n="Blank">Bayi listesi</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item referances">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-buildings"></i>
                <div data-i18n="Layouts">Referans yönetimi</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="http://localhost:3000/api/kurumsal/referances/createReferance" class="menu-link">
                    <div data-i18n="Blank">Referans ekle</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="http://localhost:3000/api/kurumsal/referances" class="menu-link">
                    <div data-i18n="Blank">Referans listesi</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item messages">
              <a href="http://localhost:3000/api/kurumsal/messages" class="menu-link">
                <i class="menu-icon tf-icons bx bx-chat"></i>
                <div data-i18n="Analytics">Mesajlar</div>
              </a>
            </li>
            <li class="menu-item" id="logout">
                <a href="javascript:void(0)" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
                  <div data-i18n="Analytics">Çıkış Yap</div>
                </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
            style="z-index: 1;"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <% if(authenticateUser.role === 'admin') { %>
                <li class="mx-1">
                  <div class="btn-group">
                    <button  class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bx bx-cog bx-xs align-middle"></i>
                      İşlemler
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="http://localhost:3000/api/kurumsal/admin/loginHistories">
                          <i class="bx bx-user bx-xs align-middle"></i>
                          Kullanıcı hareketleri
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <% } %>
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a href="http://localhost:3000/api/kurumsal/users/profile" class="nav-link dropdown-toggle hide-arrow d-flex justify-content-between align-items-center">
                    <div class="avatar avatar-online">
                        <img src="<%=authenticateUser.image%>" alt class="w-100 h-100 h-auto rounded-circle" />
                    </div>
                  </a>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->